# Modeling

### Preprocessing

In [42]:
# Importing libraries
# Importing alias for easy reading

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
import tensorflow as tf

In [44]:
# Reading data from csv
df = pd.read_csv('data.csv')

In [45]:
df.head(3)

         Order ID  Order Date  ... Profit Percentage Year Month
0  CA-2016-152156  2016-11-08  ...          18.15507    2016-11
1  CA-2017-100111  2016-11-08  ...          30.00000    2016-11
2  CA-2017-100111  2016-06-12  ...          47.00000    2016-06

[3 rows x 22 columns]

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order ID           9994 non-null   object
 1   Order Date         9994 non-null   object
 2   Ship Date          9994 non-null   object
 3   Ship Mode          9994 non-null   object
 4   Customer ID        9994 non-null   object
 5   Customer Name      9994 non-null   object
 6   Segment            9994 non-null   object
 7   Country            9994 non-null   object
 8   City               9994 non-null   object
 9   State              9994 non-null   object
 10  Postal Code        9994 non-null   float64
 11  Region             9994 non-null   object
 12  Product ID         9994 non-null   object
 13  Category           9994 non-null   object
 14  Sub-Category       9994 non-null   object
 15  Product Name       9994 non-null   object
 16  Sales              9994 non-null   float64
 17  Quantity           9994 non-null   float64
 18  Discount           9994 non-null   float64
 19  Profit             9994 non-null   float64
 20  Profit Percentage  9994 non-null   float64
 21  Year Month         9994 non-null   object
dtypes: float64(6), object(16)
memory usage: 1.7+ MB

In [47]:
def encode_dates(df, column):
    df = df.copy()

    df[column] = pd.to_datetime(df[column])
    df[column +'_year'] = df[column].apply(lambda x: x.year)
    df[column +'_month'] = df[column].apply(lambda x: x.month)
    df[column +'_day'] = df[column].apply(lambda x: x.day)

    df = df.drop(column, axis=1)
    return df

def onehot_encode(df, column):
    df = df.copy()

    dummies = pd.get_dummies(df[column], prefix=column)
    df = pd.concat([df, dummies], axis=1)
    df = df.drop(column, axis=1)
    return df

In [48]:
def preprocess_input(df):
    df = df.copy()

    # Dropping Unnecessary Columns
    df = df.drop(['Country', 'Customer Name', 'Product Name', 'Year Month', 'Profit Percentage'], axis=1)

    # Dropping customer specific features
    df = df.drop(['Order ID', 'Customer ID'], axis = 1)

    # Date Feature Engineering - Extraction
    df = encode_dates(df, column = 'Order Date')
    df = encode_dates(df, column = 'Ship Date')

    #Handling Categorical Features - onehot encoding
    categorical_cols = df.select_dtypes(include='object')
    for column in categorical_cols:
        df = onehot_encode(df, column = column)

    # Target(y) and Predictive Features(X)
    y = df['Sales']
    X = df.drop('Sales', axis=1)

    # Train Test Split!
    X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, shuffle=True, random_state=1)

    # Scale X
    scaler = StandardScaler()
    scaler.fit(X_train)
    X_train = pd.DataFrame(scaler.transform(X_train), columns=X.columns)
    X_test = pd.DataFrame(scaler.transform(X_test), columns=X.columns)

    return X_train, X_test, y_train, y_test

In [49]:
X_train, X_test, y_train, y_test = preprocess_input(df)

In [50]:
X_train.head(3)

   Postal Code  Quantity  ...  Sub-Category_Supplies  Sub-Category_Tables
0     0.344570  0.574248  ...              -0.132116            -0.174193
1     1.226612  1.993610  ...              -0.132116            -0.174193
2     1.142682  0.101128  ...              -0.132116            -0.174193

[3 rows x 2463 columns]

### Model Training

In [51]:
inputs = X_train.shape[1]

In [52]:
from keras.models import Sequential
from keras.layers import Dense

# Defining model architecture
model = Sequential()
model.add(Dense(128, activation='relu', input_shape=(inputs,)))
model.add(Dense(64, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(2, activation='relu'))
model.add(Dense(1, activation='linear'))

print(model.summary())

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 128)               315392

 dense_11 (Dense)            (None, 64)                8256

 dense_12 (Dense)            (None, 32)                2080

 dense_13 (Dense)            (None, 16)                528

 dense_14 (Dense)            (None, 8)                 136

 dense_15 (Dense)            (None, 4)                 36

 dense_16 (Dense)            (None, 2)                 10

 dense_17 (Dense)            (None, 1)                 3

=================================================================
Total params: 326441 (1.25 MB)
Trainable params: 326441 (1.25 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
None

In [53]:
model.compile(
    optimizer = 'adam',
    loss = 'mse',
    metrics = 'accuracy'
)

In [54]:
model.fit(
    X_train,
    y_train,
    validation_split=0.2,
    batch_size=32,
    epochs=100,
    callbacks=[
        tf.keras.callbacks.EarlyStopping(
            monitor='val_loss',
            patience=10,
            restore_best_weights=True
        ),
        tf.keras.callbacks.ReduceLROnPlateau()
    ]
)

Epoch 1/100
175/175 [==============================] - 5s 14ms/step - loss: 465821.2812 - accuracy: 0.0000e+00 - val_loss: 199211.2500 - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 2/100
175/175 [==============================] - 2s 12ms/step - loss: 359165.0625 - accuracy: 0.0000e+00 - val_loss: 149096.6406 - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 3/100
175/175 [==============================] - 2s 12ms/step - loss: 286554.7188 - accuracy: 0.0000e+00 - val_loss: 303559.9375 - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 4/100
175/175 [==============================] - 2s 14ms/step - loss: 284252.5625 - accuracy: 0.0000e+00 - val_loss: 530756.3750 - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 5/100
175/175 [==============================] - 2s 12ms/step - loss: 206025.1562 - accuracy: 0.0000e+00 - val_loss: 2478709.0000 - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 6/100
175/175 [==============================] - 2s 13ms/step - loss: 153458.2344 - accuracy: 0.0000e+00 - val_loss: 9570819.0000 - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 7/100
175/175 [==============================] - 2s 12ms/step - loss: 104609.8984 - accuracy: 0.0000e+00 - val_loss: 17992102.0000 - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 8/100
175/175 [==============================] - 2s 11ms/step - loss: 76020.0938 - accuracy: 0.0000e+00 - val_loss: 30846782.0000 - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 9/100
175/175 [==============================] - 2s 12ms/step - loss: 57567.8906 - accuracy: 0.0000e+00 - val_loss: 42993068.0000 - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 10/100
175/175 [==============================] - 2s 12ms/step - loss: 41425.5195 - accuracy: 0.0000e+00 - val_loss: 64095152.0000 - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 11/100
175/175 [==============================] - 2s 11ms/step - loss: 38186.5273 - accuracy: 0.0000e+00 - val_loss: 65347848.0000 - val_accuracy: 0.0000e+00 - lr: 0.0010
Epoch 12/100
175/175 [==============================] - 2s 11ms/step - loss: 31131.6445 - accuracy: 0.0000e+00 - val_loss: 80508736.0000 - val_accuracy: 0.0000e+00 - lr: 0.0010

In [55]:
test_loss = model.evaluate(X_test, y_test)

print("Test Loss: {:.5f}".format(test_loss[0]))

94/94 [==============================] - 0s 3ms/step - loss: 220839.6719 - accuracy: 0.0000e+00
Test Loss: 220839.67188

In [56]:
y_pred = np.squeeze(model.predict(X_test))
test_r2 = r2_score(y_test, y_pred)

print("Test R2 score: {:.5f}".format(test_r2))

94/94 [==============================] - 0s 3ms/step
Test R2 score: 0.24554